.curtain-roller {
    width: 300px;
    height: 200px;
    display: inline-block;
}

.curtain-button {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.reverse-range {
    direction: rtl;
}
