[submodule "code/vendor/nofuss"]
	path = code/vendor/nofuss
	url = https://bitbucket.org/xoseperez/nofuss.git
[submodule "code/vendor/emonliteesp"]
	path = code/vendor/emonliteesp
	url = https://bitbucket.org/xoseperez/emonliteesp.git
[submodule "code/vendor/RemoteSwitch-arduino-library"]
	path = code/vendor/RemoteSwitch-arduino-library
	url = https://github.com/jccprj/RemoteSwitch-arduino-library
[submodule "code/lib/JustWifi"]
	path = code/lib/JustWifi
	url = https://bitbucket.org/xoseperez/justwifi
[submodule "code/lib/HLW8012"]
	path = code/lib/HLW8012
	url = https://bitbucket.org/xoseperez/hlw8012.git
[submodule "code/lib/fauxmoESP"]
	path = code/lib/fauxmoESP
	url = https://bitbucket.org/xoseperez/fauxmoesp.git
