#menu .pure-menu-heading {
    font-size: 100%;
    padding: .5em .5em;
}
.header h2 {
    font-size: 1em;
}
.panel  {
    display: none;
}
.content {
    margin: 0px;
}
.page {
    margin-top: 40px;
}
.pure-button {
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.main-buttons {
    margin: 50px auto;
    text-align: center;
}
.main-buttons button {
    width: 100px;
    margin: 5px auto;
}
.button-update {
    background: #1f8dd6;
}
.button-reset {
    background: rgb(202, 60, 60);
}
.button-reconnect {
    background: rgb(202, 60, 60);
}
.button-apikey {
    background: rgb(0, 202, 0);
    margin-left: 5px;
}
.button-add-network {
    background: rgb(28, 184, 65);
}
.button-del-network {
    background: rgb(202, 60, 60);
}
.button-more-network {
    background: rgb(223, 117, 20);
}
.pure-g {
    margin-bottom: 20px;
}
legend {
    font-weight: bold;
}
.l-box {
    padding-right: 1px;
}
.pure-form input[type=text][disabled] {
    color: #777777;
}
div.hint {
    font-size: 80%;
    color: #ccc;
}
.break {
    margin-top: 5px;
}
#networks .pure-g {
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 2px dashed #e5e5e5;
}
#networks div.more {
    display: none;
}
.module {
    display: none;
}
.template {
    display: none;
}
.pure-form .center {
    margin: .5em 0 .2em;
}
