/* -----------------------------------------------------------------------------
    General
   -------------------------------------------------------------------------- */

#menu .pure-menu-heading {
    font-size: 100%;
    padding: .5em .5em;
}

.pure-g {
    margin-bottom: 0;
}

.pure-form legend {
    font-weight: bold;
    letter-spacing: 0;
    margin: 10px 0 1em 0;
}

.pure-form .pure-g > label {
    margin: .4em 0 .2em;
}

.pure-form input {
    margin-bottom: 10px;
}

.pure-form input[type=text][disabled] {
    color: #777777;
}

h2 {
    font-size: 1em;
}

.panel  {
    display: none;
}

.block {
    display: block;
}

.content {
    margin: 0;
}

.page {
    margin-top: 10px;
}

.hint {
    color: #ccc;
    font-size: 80%;
    margin: -10px 0 10px 0;
}

legend.module,
.module {
    display: none;
}

.template {
    display: none;
}

input[name=upgrade] {
    display: none;
}

select {
    margin-bottom: 10px;
    width: 100%;
}

input.center {
    margin-bottom: 0;
}

div.center {
    margin: .5em 0 1em;
}

.webmode {
    display: none;
}

#credentials {
    font-size: 200%;
    height: 100px;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 400px;
}

div.state {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 30px;
}

.state div {
    font-size: 80%;
}

.state span {
    font-size: 80%;
    font-weight: bold;
}

.right {
    text-align: right;
}

/* -----------------------------------------------------------------------------
    Buttons
   -------------------------------------------------------------------------- */

.pure-button {
    border-radius: 4px;
    color: white;
    letter-spacing: 0;
    margin-bottom: 10px;
    padding: 8px 8px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.main-buttons {
    margin: 20px auto;
    text-align: center;
}
.main-buttons button {
    width: 100px;
}

.button-reboot,
.button-reconnect,
.button-ha-del,
.button-rfb-forget,
.button-del-network,
.button-del-schedule,
.button-upgrade {
    background: rgb(192, 0, 0); /* redish */
}

.button-update,
.button-update-password,
.button-add-network,
.button-add-schedule,
.button-rfb-learn,
.button-upgrade-browse,
.button-ha-add,
.button-settings-backup,
.button-settings-restore,
.button-apikey {
    background: rgb(0, 192, 0); /* green */
}

.button-more-network,
.button-more-schedule,
.button-wifi-scan,
.button-rfb-send {
    background: rgb(255, 128, 0); /* orange */
}

.button-upgrade-browse,
.button-ha-add,
.button-apikey,
.button-upgrade {
    margin-left: 5px;
}

/* -----------------------------------------------------------------------------
    Sliders
   -------------------------------------------------------------------------- */

input.slider {
    margin-top: 10px;
}

span.slider {
    font-size: 70%;
    letter-spacing: 0;
    margin-left: 10px;
    margin-top: 7px;
}

/* -----------------------------------------------------------------------------
    Loading
   -------------------------------------------------------------------------- */

.loading {
    background-image: url('images/loading.gif');
    display: none;
    height: 20px;
    margin: 8px 0 0 10px;
    width: 20px;
}

/* -----------------------------------------------------------------------------
    Menu
   -------------------------------------------------------------------------- */

#menu .small {
    font-size: 60%;
    padding-left: 9px;
}

#menu div.footer {
    color: #999;
    font-size: 80%;
    padding: 10px;
}
#menu div.footer a {
    padding: 0;
    text-decoration: none;
}

/* -----------------------------------------------------------------------------
    RF Bridge panel
   -------------------------------------------------------------------------- */

#panel-rfb fieldset {
    margin: 10px 2px;
    padding: 20px;
}

#panel-rfb input {
    margin-right: 5px;
}

#panel-rfb label {
    padding-top: 5px;
}

#panel-rfb input {
    text-align: center;
}

/* -----------------------------------------------------------------------------
    Admin panel
   -------------------------------------------------------------------------- */

#upgrade-progress {
    display: none;
    height: 20px;
    margin-top: 10px;
    width: 100%;
}

#uploader,
#downloader {
    display: none;
}

/* -----------------------------------------------------------------------------
    Wifi panel
   -------------------------------------------------------------------------- */

#networks .pure-g,
#schedules .pure-g {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
}

#networks .more {
    display: none;
}

#scanResult {
    color: #888;
    font-family: 'Courier New', monospace;
    font-size: 60%;
    margin-top: 10px;
}
